https:
  port: 
    
api:
  customer:
    host: 
    port: 
    protocol: 
    basePath: 
    
anypoint:
  mq:
    url: 
    exchange:
      name: 
    client:
      id: 
      secret: 
   
app:
  client_id:
  client_secret: 
  autodiscovery: 
  
keystore:
  path: 
  password: 